* {

    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 575.98px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}


header {
    background-color: #0F0DFF;
    width: 100%;
}

#burger {
    font-size: 60px;
    color: white;
}

#burger:hover {
    cursor: pointer;
}

#header-container {
    display: grid;
    grid-template-columns: 60px auto 60px;
}

#header-container img {
    height: 64px;
    margin: 0px auto;
}

#search {
    font-size: 60px;
    color: white;
    text-align: right;
}

#search:hover {
    cursor: pointer;
}

#headerMenu {
    width: 100%;
}

#headerMenu ul {
    display: none;
    text-align: center;
    padding: 0px;
    list-style: none;
    font-size: 30px;
}

#headerMenu a {
    text-decoration: none;
    color: white;
}

#headerMenu .ativo {
    text-decoration: underline;
}

#headerMenu div {
    display: none;
    margin: 0px auto 5px auto;
    width: 90%;
}

#headerMenu div textarea {
    width: 100%;
    border-radius: 10px;
    resize: none;
    font-size: 30px;
}

#mainContainer {
    margin: 15px;
}

.conteudo {
    border-bottom: 1px solid rgb(182, 181, 181);
    margin-bottom: 30px;
    transition: transform .2s;
}

.last {
    border: none;
    margin-bottom: 0px;
}

.conteudo p {
    font-size: 30px;
    text-align: justify;
}

.conteudo img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.conteudo a {
    text-decoration: none;
    color: black;
}

.conteudo:hover {
    transform: scale(1.01);
}

.lancamentos {
    position: relative;
    background-size: cover;
}

.lancamentos img {
    transition: transform .2s;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.lancamentos img:hover {
    transform: scale(1.02);
}

.lancamentos p {
    font-size: 20px;
    position: absolute;
    color: white;
    left: 10px;
    bottom: -5px;
    text-shadow: 1px 1px 5px black;

}

.main-carousel {
    height: 200px;
    margin: 20px;
}

.carousel-cell {
    width: 100%;
    height: 200px;
    margin-right: 10px;
}

.carousel-cell:before {
    display: block;
    text-align: center;
}

.carousel-cell img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0px auto;
    justify-content: center;
}

footer {
    background-color: #0F0DFF;
    padding: 10px;
}

#footerContainer {
    color: white;
}

#footerContainer ul {
    text-align: center;
    list-style: none;
}

#footerContainer li {
    display: inline;
    padding: 15px;
}

#footerContainer a {
    text-decoration: none;
    color: white;
    margin-top: 15px;
}

#footerContainer p {
    display: block;
    text-align: center;
    font-size: 13px;
    margin-bottom: 0px;
}